:root {
  --main-colour: #10BBE5;
  --secundary-colour: #EEA47FFF;
  --white: #fff;
  --black: #000000;
  --background: #eee;
  --darkbackground: #181818;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.container {
  z-index: 1;
  position: fixed;
  text-align: center;
  width: 70%;
  top: 8.5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.box {
  padding: 1.5rem;
  background: var(--white);
  border-radius: .5rem;
  border-left: 4px solid var(--main-colour);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

.container .box hr{
  color: var(--black);
}

.box h1 {
  letter-spacing: 1px;
  margin: 5px 0;
  font-size: 40px;
  font-weight: bolder;
  color: var(--black);
}

.box p {
  display: flex;
}

.box img {
  width: 200px;
  border-radius: 20%;
  border: 2px solid var(--main-colour);
}

.details {
  font-size: 16px;
  font-weight: bold;
  word-wrap: break-word
}

.icon {
  fill: var(--main-colour);
  width: 16px;
  display: inline-block;
}

.btn-align{
  border: 1px solid black;
  margin: 1rem;
}

.btn-save {
  float: right;
  background: #4CAF50;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  color: var(--white);
  font-size: 16px;
  padding: 10px 20px;
  letter-spacing: 1px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  text-decoration: none;
}

.btn-save:hover {
  background: var(--white);
  color: #4CAF50;
  border: 1px solid #4CAF50;
  transform: scale(1.05);
}

.icon-btn-save {
  fill: var(--white);
  width: 16px;
  display: inline-block;
}

.btn-save:hover .icon-btn-save {
  fill: #4CAF50;
}

.btn-add {
  float: left;
  background: #4CAF50;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  color: var(--white);
  font-size: 16px;
  padding: 5px 10px;
  letter-spacing: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  text-decoration: none;
  width: 100px;
}

.btn-add:hover {
  border: 1px solid #4CAF50;
  background: var(--white);
  color: #4CAF50;
}

.btn-add option{
  background: var(--white);
  color: var(--black);
}

.btn-cancel {
  float: left;
  background: #f44336;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  color: var(--white);
  font-size: 16px;
  padding: 10px 20px;
  letter-spacing: 1px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  text-decoration: none;
}

.btn-cancel:hover {
  background: var(--white);
  color: #f44336;
  border: 1px solid #f44336;
  transform: scale(1.05);
}

.icon-btn-cancel {
  fill: var(--white);
  width: 16px;
  display: inline-block;
}

.btn-cancel:hover .icon-btn-cancel {
  fill: #f44336;
}

.icon-btn-close {
  float: right;
  margin-top: -60px;
  fill: #383838;
  width: 26px;
}

.icon-btn-close:hover {
  fill: #f44336;
  cursor: pointer;
  transform: scale(1.1);
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid var(--main-colour);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--main-colour);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--main-colour);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.inputBox {
  margin-left: 10px;
  position: relative;
  width: 90%;
}

.inputBox .inputBox-field {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: var(--text-background);
}

.inputBox-field:hover,
.inputBox-field:focus {
  background-color: var(--white);
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox .inputBox-field~span,
.inputBox .inputBox-field~span {
  color: var(--black);
  transform: translateX(10px) translateY(-1px);
  background: var(--white);
  font-size: 13px;
  padding: 0 10px;
  letter-spacing: 0.5px;
  border-radius: 10px;
}

.box-align{
  display: flex;
  width: 100%;
}

.box1{
  flex: 1;
  margin: 10px;
  width: 70%;
}

.box2 {
  margin-top: 20px;
  margin-right: 20px;
  width: 30%;
  padding: 1rem;
  height:fit-content;
  background: var(--white);
  border-radius: .5rem;
  border-left: 1px solid var(--main-colour);
  border-right: 1px solid var(--main-colour);
  overflow: hidden;
}

.container .box2 hr{
  color: var(--black);
  margin-bottom: 30px;
}

.box2 h1 {
  letter-spacing: 1px;
  margin: 5px 0;
  font-size: 20px;
  font-weight: bolder;
  color: var(--black);
}

.box2 p {
  font-size: 16px;
  margin-top: -16px;
  font-weight: normal;
  color: var(--black);
}

.select-menu {
  margin: 10px;
}

.select {
  font-size: 18px;
  padding: 11px 0;
  width: 70%;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
  cursor: pointer;
  border-radius: 5px;
}

.select:focus,
.select:hover {
  outline: none;
  border: 1px solid var(--main-colour);
}

.select option {
  text-align: left;
  font-size: 18px;
  background-color: var(--white);
}

.table {
  width: 100%;
  color: var(--white);
}

.thead-dark th {
  font-size: 17px;
  font-weight: bolder;
  color: var(--black);
}

.table tr {
  height: 10px;
  text-align: left;
  color: var(--black);
  background-color: var(--white);
  border-bottom: 1px solid var(--main-colour);
  cursor: pointer;
}

.table tr:hover {
  background-color: var(--background);
}

.btn-delete {
  border: none;
  float: right;
  background: #D11A2A;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  color: var(--white);
  font-size: 15px;
  padding: 0px 4px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  text-decoration: none;
}

.btn-delete:hover {
  background: var(--white);
  color: #D11A2A;
}

.icon-btn-delete {
  fill: var(--white);
  width: 16px;
  display: inline-block;
}

.btn-delete:hover .icon-btn-delete {
  fill: #D11A2A;
}

@media screen and (max-width: 1080px) {
  .inputBox .inputBox-field {
    height: 30px;
  }

  .select {
    padding: 5px 0;
    font-size: 16px;
  }

  .select option {
    font-size: 16px;
  }
}