:root {
  --main-colour: #10BBE5;
    --secundary-colour: #EEA47FFF;
    --white: #fff;
    --black: #000000;
    --background: #ccc;
    --darkbackground: #181818;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--darkbackground);
  border-bottom: 2px solid var(--main-colour);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
  padding: 0px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

header .logo {
  font-weight: bolder;
  font-size: 35px;
  color: #fff;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 10px;
  color: var(--white);
  display: block;
}

header .navbar ul li a:hover {
  color: var(--main-colour);
}

header .navbar ul li ul {
  position: absolute;
  left: -80px;
  width: 300px;
  background: var(--white);
  border-radius: 5px;
  border: 1px solid var(--main-colour);
  display: none;
  z-index: 1;
}

header .navbar ul li ul li {
  width: 100%;
}

header .navbar ul li:focus-within ul,
header .navbar ul li:hover ul {
  display: initial;
  transition: .3s ease;
}

header .navbar ul li ul li a {
  display: block;
  padding: 13px 30px;
  color: var(--black);
  font-size: 16px;
  position: relative;
  text-decoration: none;
}

header .navbar ul li ul li a .icon {
  fill: var(--black);
  padding-right: 0.5rem;
  width: 30px;
  display: inline-block;
}

header .navbar ul li ul li a:hover,
header .navbar ul li ul li a.active {
  color: var(--main-colour);
  transition: .3s ease;
}

header .navbar ul li ul li a:hover .icon,
header .navbar ul li ul li a.active .icon {
  fill: var(--main-colour);
  transition: .3s ease;
}

header .navbar ul li ul li p {
  padding: 10px 10px 10px 10px;
  color: var(--black);
  font-size: 20px;
  font-weight: bolder;
}

.profile {
  width: 40px;
  border-radius: 50%;
}

.profile-menu {
  width: 60px;
  border-radius: 50%;
}

.icon {
  fill: var(--main-colour);
  margin-right: 10px;
  width: 30px;
  display: inline-block;
}

header .navbar ul li .dropdown-icon {
  fill: #fff;
  padding-right: 0.5rem;
  width: 20px;
  margin-left: 4px;
  display: inline-block;
}

header .navbar ul li :hover .dropdown-icon,
header .navbar ul li .active .dropdown-icon {
  fill: var(--main-colour);
  transition: .3s ease;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  margin-top: 15px;
  margin-right: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid var(--main-colour);
}

.slider:before {
  position: absolute;
  content: "";
  margin-left: 2px;
  height: 20px;
  width: 20px;
  top: 1px;
  background-color: var(--white);
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked+.slider {
  background-color: var(--main-colour);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--main-colour);
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.text{
  color: #fff
}

.text-time{
  margin-right: 10px;
  margin-top: 17px;
  color: #fff
}