:root{
    --main-colour: #10BBE5;
    --secundary-colour: #EEA47FFF;
    --white: #fff;
    --black: #000000;
    --background: #A9A9A9;
  }
  
  *{
      text-decoration: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
  }

.meal-search{
    margin-top: 90px;
    width: 100%;
    padding: 10px;
    background-color: #A9A9A9;
}

.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
    width: 35%;
    background-color: #A9A9A9;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.2rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--main-colour);
    color: var(--black);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.search-control::placeholder{
    color: var(--black);
}
.search-btn{
    width: 70px;
    height: 50px;
    font-size: 2.2rem;
    background: var(--main-colour);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background-color: var(--black);
}

.icon{
    margin-top: -5px;
    fill: var(--white);
    width: 30px;
}

@media screen and (max-width: 2560px){
	.meal-search-box{
		margin-left: 38%;
	}
}

@media screen and (max-width: 1440px){
	.meal-search-box{
        margin-left: 42%;
    }
}

@media screen and (max-width: 1024px){
	.meal-search-box{
        margin-left: 45%;
    }
}

@media screen and (max-width: 768px){
	.meal-search-box{
        margin-left: 50%;
    }
}

@media screen and (max-width: 568px){
	.meal-search-box{
		width: 100%;
	}
}