:root {
    --main-colour: #10BBE5;
    --secundary-colour: #EEA47FFF;
    --white: #fff;
    --text-background: #fff;
    --black: #000000;
    --background: #ccc;
    --darkbackground: #181818;
  }

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hide{
    display: none;
}

section {
    margin-top: -5px;
    min-height: 100vh;
    padding: 0 9%;
    background: var(--background);
    overflow-y: hidden;
    overflow-x: hidden;
}

.btn {
    float: right;
    background: var(--main-colour);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    color: var(--white);
    font-size: 16px;
    padding: 10px 20px;
    letter-spacing: 1px;
    margin-top: -50px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
}

.btn:hover {
    background: var(--white);
    color: var(--main-colour);
    border: 1px solid var(--main-colour);
    transform: scale(1.05);
}

.icon {
    fill: var(--main-colour);
    width: 16px;
    display: inline-block;
}

.icon-btn {
    fill: var(--white);
    width: 16px;
    display: inline-block;
}

.btn:hover .icon-btn {
    fill: var(--main-colour);
}

.items .box-container {
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 1.5rem;
    display: grid;
    gap: 1.5rem;
}

.items .box-container .box {
    padding: .8rem;
    background: var(--white);
    border-radius: .5rem;
    border: 2px solid var(--text-background);
    border-left: 4px solid var(--main-colour);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    display: block;
}

.items .box-container .box h6 {
    border-radius: 1rem;
    background-color: rgb(46, 197, 46);
    opacity: 0.6;
    letter-spacing: 1px;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
}

.items .box-container .box h2 {
    letter-spacing: 1px;
    margin: 5px 0;
    font-size: 22px;
    font-weight: bolder;
    color: var(--black);
}

.items .box-container .box p {
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
}

.img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .items .box-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .items .box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1440px) {
    .items .box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1660px) {
    .items .box-container {
        grid-template-columns: repeat(3, 1fr);
    }
}