:root {
    --main-colour: #10BBE5;
    --secundary-colour: #EEA47FFF;
    --white: #fff;
    --text-background: #fff;
    --black: #000000;
    --background: #ccc;
    --darkbackground: #383838;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section {
    min-height: 100vh;
    padding: 0 9%;
    background: var(--background);
    overflow-y: hidden;
    overflow-x: hidden;
}

hr {
    color: var(--black);
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icon {
    fill: var(--main-colour);
    width: 16px;
    display: inline-block;
}

.tag {
    display: inline-block;
    background: var(--main-colour);
    color: var(--white);
    font-size: 16px;
    padding: 0px 4px;
    margin-top: 5px;
    margin-right: 5px;
    letter-spacing: 0px;
    border-radius: 20px;
}

.items .box-container {
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 1.5rem;
    display: grid;
    gap: 1.5rem;
}

.items .box-container .box {
    padding: .7rem;
    background: var(--white);
    border-radius: .5rem;
    border-left: 4px solid var(--main-colour);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
}

.items .box-container .box h2 {
    text-align: center;
    letter-spacing: 1px;
    margin: 5px 0;
    font-size: 22px;
    font-weight: bolder;
    color: var(--black);
}

.items .box-container .box p {
    font-size: 14px;
    font-weight: bold;
    overflow-wrap: break-word;
    color: var(--black);
}

.items .box-container .box img {
    border: 1px solid var(--main-colour);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .items .box-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .items .box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1440px) {
    .items .box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1660px) {
    .items .box-container {
        grid-template-columns: repeat(3, 1fr);
    }
}